* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 0.5rem;
  background-color: #35495e;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section {
  padding: 0.5rem;
  margin: 0.5rem;
}

.todo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
  padding: 1rem;
}

button {
  padding: 8px;
  border-radius: 0;
  border: 0;
  margin: 10px;
  background-color: #35495e;
  color: #fff;
  cursor: pointer;
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  border-radius: 0;
  border: 0;
  margin: 10px;
  background-color: #35495e;
  color: #fff;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  width: 100%;
}

ul li {
  background-color: slategray;
  color: #fff;
  padding: 5px 10px;
  margin: 10px 0;
  cursor: pointer;
}
